
body {
    font-family: 'Arial', sans-serif;
    background: url('../img/fondo99.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.8em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(248, 215, 218, 0.9);
    border-radius: 25px;
    margin: 20px auto;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid #c8645c;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #E17E76;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 25px;
    border: 2px solid #c8645c;
    border-radius: 12px;
    background-color: rgba(255, 234, 244, 0.9);
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #c8645c;
    color: white;
    transform: scale(1.1);
}

#content {
    max-width: 80%;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid #f8d7da;
}

#detalle_venta-section {
    text-align: center;
    margin-bottom: 20px;
}

#detalle_venta-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: left;
    font-size: 1.1em;
}

#detalle_venta-table thead th {
    background-color: #E17E76;
    color: white;
    padding: 15px;
    border: 2px solid #E17E76;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#detalle_venta-table tbody td {
    padding: 12px;
    border: 1px solid #f8d7da;
    color: #555;
}

#detalle_venta-table tr:nth-child(even) {
    background-color: rgba(252, 238, 241, 0.9);
}

#detalle_venta-table tr:hover {
    background-color: rgba(253, 228, 234, 0.9);
    transition: background-color 0.3s ease;
}

hr {
    border: none;
    height: 2px;
    background-color: #E17E76;
    margin: 20px 0;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #E17E76;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #E17E76;
    transform: translateY(-3px);
}
